body
{
    box-sizing: border-box;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 115vh;
}

/*  botuni moraju biti <a> element
      moraju imati laganu tranziciju
      na :hover stanje
      koristiti :transition property
    
      ne odvojenu klasu za :hover
    
      DRY i box sizing
    
      redove prelomit sa <div> */
