body{
	font-family: 'Helvetica', 'Arial', sans-serif;
	box-sizing: border-box;
}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.button{
	padding: 20px;
}
a{
	font-weight: bold;
	padding: 16px 30px;
	cursor: pointer;
	transition: all 0.3s ease-in;
	line-height: 1;
	display: block;
	font-size: 16px;
}
.frst-btn{
	border: 0;
	border-radius: 10px;
	background: rgb(91, 91, 247);
	color: white;
}
.scnd-btn{
	border: 0;
	border-radius: 30px;
	background: rgb(91, 91, 247);
	color: white;
}
.thrd-btn{
	border: solid 2px;
	border-radius: 30px;
	background: white;
	color: rgb(91, 91, 247);
}
.frst-btn:hover, .scnd-btn:hover{
	background: rgb(5, 5, 216);
}
.thrd-btn:hover{
	background: rgb(230, 230, 243);
}
/* botuni moraju biti <a> elementmoraju imati laganu tranzicijuna :hover stanjekoristiti :transition propertyne odvojenu klasu za :hoverDRY i box sizingredove prelomit sa <div> */
